<html>
    <head>
        <title>CABIN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="./DataTables/datatables.min.css">
    </head>
    <body>
        <div class="container-fluid">
                <main class="col-xs-12 col-sm-12 col-lg-12">
                    <h1>Cabin List</h1>
                    <div class="table-responsive">
                        <table class="table-striped" id="dataTables">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">No Kartu</th>
                                <th scope="col">No Locker</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </main>
                
        </div>
        <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./DataTables/datatables.min.js"></script>
        <script>
            var tables=$('#dataTables').DataTable({
                "ajax" : {
                    "url" : "cabinlist",
                    "type" : "get"
                },
                "columns" :[
                    { data : "_id" },
                    { data : "no_kartu" },
                    { data : "no_locker" },
                    { data : null ,
                        render : (data)=>{
                            var text = data.status == 1 ? "Active" : "Nonactive"
                            return text
                        }
                    },
                    { data : null ,
                        render : (data)=> {
                            var status = data.status == 0 ? 1 : 0
                            var text = data.status != 1 ? "Activate" : "Disactivate"
                            return "<button class='btn btn-primary' onclick='activating(\""+data._id+"\",\""+status+"\")'>"+text+"</button>"
                        }
                    }
                ]
            })
            $(document).ready(function(){
                // getCabin()
            })

            function activating(id,status) {
                $.ajax({
                    url : "cabinActivating/"+id+"/"+status,
                    type : "get",
                    dataType : "json",
                    success : function(res) {
                        if(res.status == "success"){
                            tables.ajax.reload()
                            alert(res.post.msg)
                        }
                    }
                })
            }
        </script>
    </body>
</html>
