<html>
    <head>
        <title>EMERGENCY</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <h2>Emergency Button</h2>
            <div class="panel panel-default">
                <div class="panel-heading">Emenergency Locker</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary btn-lg" onclick="allon()">ALL ON</button>
                    <button type="button" class="btn btn-danger btn-lg" id="alloff">ALL OFF</button>
                </div>
            </div>
    </div>
    </body>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
    $("#allon").click(function(){
        var command = "allon";
		cm = command;
		msg = "all locker open"
        console.log(msg)
        var rs = responseCallBack("success","post",{command : cm, msg:msg, response: dataresponse});
        res.send(rs);
		res.end();
    });
    $("#alloff").click(function(){
        var command = "alloff";
		cm = command;
		msg = "all locker close"
		console.log(msg)
    });
    });

    function allon() {
      $.ajax({
        url : 'allon',
        type : "get",
        dataType : "json",
        success: function(x) {
          if(x.status=="success"){
            console.log("status : " + x.post.command);
          }
        }
      })
    }
    </script>
</html>
