<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
button{
  outline:0; 
  font-size:1em;
  font-weight:600;
  background:#222222;
  border:none;
  padding:2em 4em;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20,
    6px 6px 0 0 #d98e20,
    7px 7px 0 0 #d98e20,
    8px 8px 0 0 #d98e20,
    9px 9px 0 0 #d98e20,
    10px 10px 0 0 #d98e20,
    11px 11px 0 0 #d98e20,
    12px 12px 0 0 #d98e20;
}
/*button:hover{
  color:#444;
}
button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0a,.2),
    1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20,
    3px 3px 0 0 #d98e20,
    4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20;
}*/
/*General Styling
-----------------*/
body{
  width:100%;
  min-height:100%;
  background-color:#FFA726;
  color:#eee;
}
main{
  position:relative;
  margin:auto;
  width:100%;
  height:100%;
  text-align:center;
  padding:40vh 0;
}
</style>
<body>
<!-- <img class="bg" src="assets/../../bg1.jpg"> -->
<div class="container">
   <div class="header">
    <center><img src="" class="imglogo"></center>
  </div>
 <div class="main">
    <div class="row">
      <center>
         <main>
          <a href="tap.html"><button>Pax 1</button></a>&nbsp;&nbsp;&nbsp;
          <a href=""><button>Pax 2</button></a>&nbsp;&nbsp;&nbsp;
          <a href=""><button>Pax 3</button></a>&nbsp;&nbsp;
          <a href=""><button>Pax 4</button></a>&nbsp;&nbsp;&nbsp;
          <a href=""><button>Pax 5</button></a>&nbsp;&nbsp;&nbsp;
        </main>
    </center>
    </div>
  </div>

</div>

</body>
</html>
