
<!DOCTYPE html>
<html>
<head>
	<title>Setting IP Lokal dan Server</title>
	<link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./swall/dist/sweetalert2.min.css">
	 <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	 <script type="text/javascript" src="./swall/dist/sweetalert2.all.min.js"></script>
	<style>
		body{
	font-family: sans-serif;
	background: #d5f0f3;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}

label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
#id_error{
	color :red;
	
}
	</style>
</head>
<body>

	<h1>Setting IP Address</h1>

	<div class="kotak_login">
		<p class="tulisan_login">Setting Form  </p>

		<form id="id_frm" >
			<h3 id="id_error"></h3>
			
			<label>IP Address SERVER</label>
			<input type="text" id="id_server" name="server" class="form_login" placeholder="IP Address" value="<%= data.ip_server%>">
	 
			<label>IP Address HOST</label>
			<input type="text" id="id_host"  name="host" class="form_login" placeholder="IP Address"  value="<%= data.ip_host%>">
			<label>IP Address Router/Gateway</label>
			<input type="text" name="router" class="form_login" placeholder="IP Address"  value="<%= data.ip_host_router%>">
			<label>Lantai <button onclick="checkLantai()" type="button">refresh</button></label>
			<hr/>
			<select name="lantai" class="form_login" id="id_lantai"  onchange="cLantai()">
				<option value="">Pilih Lantai</option>
			</select>
			

			<label>Pax</label>
			<select name="pax" class="form_login" id="id_pax">
				<option value="">Pilih PAX</option>
			</select>
			<input type="hidden" name="namapax" value="<%= data.namapax%>" id="id_namapax">
			<input type="hidden" name="namalantai" value="<%= data.namalantai%>" id="id_namalantai">	
			<input type="submit" class="tombol_login" value="Save">		
			<br/>
			<br/>
			<center>
				<!-- <a class="link" href="https://bio-experience.com">kembali</a> -->
			</center>
			
		</form>
		<input type="hidden" value="<%= data.pax %>" id="id_oldpax">
		<input type="hidden" value="<%= data.lantai %>" id="id_oldlantai">
		
		
		
	</div>
	
	 <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	 <script type="text/javascript">
		init();

		function init(){
			checkLantai();
			
		}
		
		function swe(){
			Swal.fire({
			  title: 'Clear data cabin?',
			  text: "Data yang ada pada locker akan otomatis hilang!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Ya hapus!'
			}).then((result) => {
			  if (result.value) {
				Swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
			  }
			})
		}
		
		function restartSystem(){
			$.ajax({
				url : "restart-setting",
				type :"GET",
				
				beforeSend: function(){
					
				},
				success: function(data){
				
				},
				error: function(param1, param2, param3){
				}
			})
		}
		function clearData(){
		
			
			$.ajax({
				url : "clear-485748357498375894275974fgkljsdkfhkshdfk",
				type :"GET",
				
				beforeSend: function(){
					
				},
				success: function(data){
				
				},
				error: function(param1, param2, param3){
				}
			})
		}
		
		$('#id_frm').submit(function (e){
			e.preventDefault();
			var form = $(this).serialize();
			// console.log(form)
			Swal.fire({
			  title: 'Clear data cabin?',
			  text: "Data yang ada pada locker akan otomatis hilang!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Ya hapus!'
			}).then((result) => {
			  if (result.value) {
				clearData();
				$.ajax({
					url : "process-setting",
					type :"POST",
					data: form,
					dataType : "json",
					beforeSend: function(){
						
					},
					success: function(data){
						if(data.status == "success"){
							if(data.restart){
								Swal.fire(
								  'Success!',
								  data.msg,
								  'success'
								)
								restartSystem()
							}else{
								Swal.fire(
								  'Success!',
								  data.msg,
								  'success'
								)
							}
						}else{
							Swal.fire(
								  'Failed!',
								  'Please call administrator ',
								  'error'
								)
						}
						
					},
					error: function(param1, param2, param3){
						Swal.fire(
								  'Not COnnected!',
								  'Not Connected, please check cable',
								  'error'
								)
					}
				})
				
			  }else if (
				
				result.dismiss === Swal.DismissReason.cancel
			  ) {
				$.ajax({
					url : "process-setting",
					type :"POST",
					data: form,
					dataType : "json",
					beforeSend: function(){
						
					},
					success: function(data){
						if(data.status == "success"){
							if(data.restart){
								Swal.fire(
								  'Success!',
								  data.msg,
								  'success'
								)
								restartSystem()
							}else{
								Swal.fire(
								  'Success!',
								  data.msg,
								  'success'
								)
							}
						}else{
							Swal.fire(
								  'Failed!',
								  'Please call administrator ',
								  'error'
								)
						}
						
					},
					error: function(param1, param2, param3){
						Swal.fire(
								  'Not COnnected!',
								  'Not Connected, please check cable',
								  'error'
								)
					}
				})
			  }
			})
			
		})
	 
		function cLantai(){
			var error = $('#id_error');
			error.html('');
			var server = $('#id_server').val();
			var host = $('#id_host').val();
			var lantai = $('#id_lantai').val();
			console.log(lantai)
			$('#id_pax').html('<option value="" >Pilih PAX</option>');
			var oldpax = $('#id_oldpax').val();
			$.ajax({
				url : "getPaxSetting/"+server+"/"+host+"/"+lantai,
				type :"GET",
				dataType : "json",
				beforeSend: function(){
					var html = '<option  value="" > Loading <i class="fa fa-spinner fa-spin fa-fw"  ></i> </option>';
					$('#id_pax').html(html);
				},
				success:function(res){
					console.log(res)
					if(res.status == "success"){
						var html = "";
						html += '<option value="" >Pilih PAX</option>';
						$.each(res.get, function(index, item){
							var se = "";
							if(oldpax == item.id_pax){ se = "selected" 
							$('#id_namapax').val(item.nomor_pax); }
							html += '<option '+se+' value="'+item.id_pax+'" >PAX '+item.nomor_pax+'</option>';
						});
						$('#id_pax').html(html);
					}else{
						//error
						error.html(res.msg);
						var namapax = $('#id_namapax').val();
						var html = '<option  value="'+oldpax+'" >PAX '+namapax+'</option>';
						$('#id_pax').html(html);
					}
				},error(){
				
				}
			})
		}
		function checkLantai(){
			
			var error = $('#id_error');
			error.html('');
			var server = $('#id_server').val();
			var host = $('#id_host').val();
			$('#id_pax').html('<option value="" >Pilih PAX</option>');
			$('#id_lantai').html('<option value="" >Pilih Lantai</option>');
			var oldlantai = $('#id_oldlantai').val();
			$.ajax({
				url : "getLantai/"+server+"/"+host,
				type :"GET",
				dataType : "json",
				beforeSend: function(){
					var html = '<option  value="" > Loading <i class="fa fa-spinner fa-spin fa-fw"  ></i> </option>';
					$('#id_lantai').html(html);
				},
				success:function(res){
					// console.log(res)
					if(res.status == "success"){
						var html = "";
						html += '<option value="" >Pilih Lantai</option>';
						$.each(res.get, function(index, item){
							var se = "";
							if(oldlantai == item.id_lantai){ se = "selected" 
							$('#id_namalantai').val(item.Lantai);}
							html += '<option '+se+' value="'+item.id_lantai+'" >'+item.Lantai+'</option>';
						});
						$('#id_lantai').html(html);
						cLantai();
					}else{
						var namalantai = $('#id_namalantai').val();
						var html = '<option  value="'+oldlantai+'" >'+namalantai+'</option>';
						$('#id_lantai').html(html);
						error
						cLantai();
						error.html(res.msg);
					}
				}
			})
		}
	 </script>
</body>
</html>

