<!DOCTYPE html>
<html lang="en">
<head>
  <title>example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
{outline: none;margin:0;padding:0;}
html, body {height: 100%;}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%);

.btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}

</style>
<body>
<!-- <img class="bg" src="assets/../../bg1.jpg"> -->
<div class="container">
   <div class="header">
    <center><img src="" class="imglogo"></center>
  </div>
 <div class="main">
    <div class="row">
      <div class="col-sm-6" style="position: absolute; left: 520px;"><center>
      </center></div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="position: absolute; left: 600px; top: 310px;">
        <center>
          <button type="button" class="tombol" data-toggle="modal" data-target="#myModal"><h3>Openn</h3></button>
        </center></div>
    </div>
  </div>
  <div class="wrap">
  <button class="btn">button</button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tap card for open</h4>
        </div>
        <div class="modal-body">
          <img class="imgcard1" src="assetss/../../tap.gif">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

