<!DOCTYPE html>
<html lang="en">
<head>
  <title>CABIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
      <!-- Sweetalert Css -->
    <link rel="stylesheet" href="./animate-css/animate.css">    
</head>
<style>
  * {
  box-sizing: border-box;
  cursor:none;
}

.modal-backdrop {
backgroung-color:transparent;
}
body {
  margin: 0;
  background:url("./Smart Locker 5.jpg") no-repeat;
  height: 100%;
  background-size :cover;
  height:100vh;
}

#container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 700px;
  height: 350px;
}
h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.green {
  color: #4ec07d;
}
.red {
  color: #e96075;
}
.alert {
  font-weight: 700;
  letter-spacing: 5px;
}
p {
  margin-top: -5px;
  font-size: 0.5em;
  font-weight: 100;
  color: #5e5e5e;
  letter-spacing: 1px;
}
/*0015065490
*/
#success-box {
  position: absolute;
  width: 60%;
  height: 100%;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
}

#full-box {
  position: absolute;
  width: 60%;
  height: 90%;
  background: linear-gradient(to bottom right, #F65C5C 40%, #F76F6F 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
}

#notime-box {
  position: absolute;
  width: 60%;
  height: 90%;
  background: linear-gradient(to bottom right, #FFBF00 40%, #FFFF00 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
}

#error-box {
  position: absolute;
  width: 35%;
  height: 100%;
  right: 12%;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
}
.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}
.dot:hover {
  background: #c9c9c9;
}
.two {
  right: 12%;
  opacity: 0.5;
}
.face {
  position: absolute;
  width: 18%;
  height: 20%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 21%;
  left: 39.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}
.face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 31%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}
.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.right {
  left: 68%;
}
.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.happy {
  border: 2px solid;
  border-color: transparent #777 #777 transparent;
  transform: rotate(45deg);
}
.sad {
  top: 49%;
  border: 2px solid;
  border-color: #777 transparent transparent #777;
  transform: rotate(45deg);
}
.shadow {
  position: absolute;
  width: 30%;
  height: 3%;
  opacity: 0.5;
  background: #777;
  left: 35%;
  top: 40%;
  border-radius: 50%;
  z-index: 1;
}
.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}
.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 38%;
  font-size: 28px;
}
.button-box {
  position: absolute;
  background: #fcfcfc;
  width: 30%;
  height: 10%;
  border-radius: 20px;
  top: 78%;
  left: 15%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
  transition: all 0.5s ease-in-out;
  font-size:15px;
}
.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}
@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}
footer p {
  color: #ef8d9c;
  letter-spacing: 2px;
}
footer a {
  color: #b0db7d;
  text-decoration: none;
}
footer a:hover {
  color: #ffc39e;
}
.notification{
    position: fixed;
    top: 3em;
    left: 20%;
    right: 20%;
    z-index: 1051; /* must be equal to or larger than .modal */
    opacity:0;
}
.alert-success{
  background-color: rgba(0,0,0,0) !important;
  border-color: rgba(0,0,0,0) !important;
}


#id_area_scan{

   position:fixed;

   z-index:1;

   background:none;

   margin-left: 3000px;

}
</style>
<body>
<!-- <img class="bg" src="assets/../../bg1.jpg"> -->
<div class="container">
   <div class="header">
    <center><img src="" class="imglogo"></center>
  </div>
 <div class="main">
    <div class="row">
      <center>
         <main >
			<div class="row" id="id_main_area">
				
			</div>
          
        </main>
    </center>
    </div>
  </div>
  <div id="id_area_scan">
    <input type="text" id="id_scan_input" onchange="readcard($(this))" >
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModalgagal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
			<h3>cabin tidak terdaftar</h3>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="myModalberhasil" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        </div>
        <div class="modal-body">
    <div class="cards">
      <div id="check-in-card" class="card">
        <div id="check-in-upper-box" class="card-header ch5">
        </div>
        <div class="card-body">
          <div class="card-title">

            </b>
          </div>
          <div class="card-sub-title">Berhasil
          </div>
          </div>
          <div class="card-desc">
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
 <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./bootstrap-notify/bootstrap-notify.js"></script>
 <script type="text/javascript">
   $(function(){
    onfocusinput();
    //loaddatacabin();
    var intervalNum = 500;
    var int = setInterval(function(){
      onfocusinput();
    }, intervalNum);
   });
    function onfocusinput()
    {
     // console.log("focus");
      var input = $('#id_scan_input');
      input.focus();
    }
    function readcard(x){
        var val = x.val()
        processtap(val);
        //console.log(val)
        $('#id_scan_input').val("");
        
        onfocusinput();
    }
  
 $(".btn").on("click",function(){
    $.notify({
      title: '<strong id="karyawan"></strong>',
      icon: 'glyphicon glyphicon-star',
      message: "test!"
    },{
      type: 'info',
      animate: {
		    enter: 'animated fadeInUp',
        exit: 'animated fadeOutRight'
      },
      placement: {
        from: "bottom",
        align: "left"
      },
      offset: 20,
      spacing: 10,
      z_index: 1031,
    });
  });

   //  function processtap(idcard){
   //    var card = idcard;
   //    $.ajax({
   //      url : "read-cardbackup/"+card, 
   //      type: "get",
   //      dataType : "json",
   //      success: function(x){
   //        console.log(x)
   //        var msg = ""
   //        if (x.status == "success") {
   //        console.log("Checkin : " + x.post.command);
   //        var noLock = x.post.response.no_locker
   //        // msg += "<center><h4>Nomor Locker : "+noLock+"</h4></center><br>"
   //        // msg += "<button class='btn btn-primary' onclick='checkin("+noLock+")'>"
   //        // msg += "Check In</button><button style='float:right;' class='btn btn-danger' onclick='checkout("+noLock+")'>Check out</button>"
   //        msg += "<div id='container'>"
   //        msg += "<div id='success-box'>"
   //        msg += "<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
   //        msg += "<div class='shadow scale'></div>"
   //        msg +="<div class='message'><h1 class='alert'>Success!<br><br>Nomor Locker : "+noLock+"</h1></div>"
   //        // msg += "<button class='btn btn-primary' onclick='checkin("+noLock+")'>"
   //        // msg += "Check In</button><button style='float:right; top: 73%;' class='btn btn-danger' onclick='checkout("+noLock+")'>Check out</button>"
   //        msg +="<button class='button-box' onclick='checkout("+noLock+")'><h1 class='green'>Check Out</h1></button></div>"
   //        $.notify({
			// 	  message: msg
          
			// 	  },{
			// 	  type: 'success',
			// 	  animate: {
			// 		enter: 'animated fadeInUp',
			// 		exit: 'animated fadeOutbuttom',
   //        timer: 3000
			// 	  },
			// 	  placement: {
			// 		from: "top",
			// 		align: "center"
			// 	  },
   //        // timer: 300000,
			// 	  offset: 20,
			// 	  spacing: 10,
			// 	  z_index: 1031,
			// 	});

			// $('#karyawan').html(x['post']['response']['nama_karyawan'])
			// $('#perusahaan').html(x['post']['response']['nama_perusahaan'])  
			//   setTimeout(function (){
			// jQuery("#myModalberhasil").modal('hide');  
			//   },3000)
			  
   //        }else{
            
   //        $.notify({
   //        title: 'Kartu terdaftar!',
   //        message: 'Tap untuk buka Locker',
			// 	  icon: 'glyphicon glyphicon-danger',
			// 	},{
			// 	  type: 'danger',
			// 	  animate: {
			// 		enter: 'animated fadeInUp',
			// 		exit: 'animated fadeOutbuttom'
			// 	  },
			// 	  placement: {
			// 		from: "top",
			// 		align: "center"
			// 	  },
			// 	  offset: 20,
			// 	  spacing: 10,
			// 	  z_index: 1031,
			// 	});
		 //  }
   //        console.log(x);
   //      }

   //    })
   //  }

    function processtap(idcard){
      var card = idcard;
      $.ajax({
        url : "read-cardbackup/"+card, 
        type: "get",
        dataType : "json",
        success: function(x){
          console.log(x)
          var msg = ""
          if (x.status == "success") {
            console.log(x.post.msg+" : " + x.post.command);
            var noLock = x.post.response.no_locker
            if(x.post.msg == "Locker Registered"){
            msg +="<div id='container'>"
            msg +="<div id='success-box'>"
            msg +="<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg +="<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Pemberitahuan! <br><br>Loker anda No."+noLock+"</h1></div>"
            msg +="</div>"
            }else if(x.post.msg == "Locker Check Out"){
            msg +="<div id='container'>"
            msg +="<div id='success-box'>"
            msg +="<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg +="<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Pemberitahuan! <br><br>anda harus meninggalkan loker No."+noLock+"</h1></div>"
            msg +="</div>"
            // msg +="<button class='button-box' onclick='checkout("+noLock+")'>Check Out</h1></button>" 
            }else{
            msg +="<div id='container'>"
            msg +="<div id='success-box'>"
            msg +="<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg +="<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Pemberitahuan! <br><br>Loker anda No."+noLock+"</h1></div>"
            msg +="</div>"
            msg +="<button class='button-box' onclick='checkout("+noLock+")'>Check Out</h1></button>"
            }
            $.notify({message: msg },{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 2000
              },
            placement: {
              from: "top",
              align: "center"
            },
          // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
            // $('#karyawan').html(x['post']['response']['nama_karyawan'])
            // $('#perusahaan').html(x['post']['response']['nama_perusahaan'])  
            // setTimeout(function (){
            //   jQuery("#myModalberhasil").modal('hide');  
            // },3000)
            console.log(x)
            var msg = ""
          } else if(x.status=="full"){
            msg += "<div id='container'>"
            msg += "<div id='full-box'>"
            msg += "<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg += "<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Maaf,<br><br>Loker sudah penuh!</h1></div>"
            msg +="</div>"
            $.notify({message: msg },{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 1000
              },
              placement: {
                from: "top",
                align: "center"
              },
            // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
          } else if(x.status=="notime"){
            msg += "<div id='container'>"
            msg += "<div id='notime-box'>"
            msg += "<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg += "<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Maaf,<br><br>Penggunaan waktu loker telah habis</h1></div>"
            msg +="</div>"
            $.notify({message: msg },{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 2000
              },
              placement: {
                from: "top",
                align: "center"
              },
            // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
          } else if(x.status=="fail"){
            msg += "<div id='container'>"
            msg += "<div id='full-box'>"
            msg += "<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg += "<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Maaf,<br><br>kartu akses belum terdaftar</h1></div>"
            msg +="</div>"
            $.notify({message: msg },{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 1000
              },
              placement: {
                from: "top",
                align: "center"
              },
            // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
          }else if(x.status=="card_exist_another_locker"){
            msg += "<div id='container'>"
            msg += "<div id='full-box'>"
            msg += "<center><img src='./card.png' style='width:150px; height:150px; animation: bounce 1s ease-in infinite;'></img></center>"
            msg += "<div class='shadow scale'></div>"
            msg +="<div class='message'><h1 class='alert'>Maaf,<br><br>Kartu akses telah digunakan</h1></div>"
            msg +="</div>"
            $.notify({message: msg },{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 1000
              },
              placement: {
                from: "top",
                align: "center"
              },
            // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
          }else {
            $.notify({message: msg},{
              newest_on_top:true,
              type: 'success',
              animate: {
              enter: 'animated fadeInUp',
              exit: 'animated fadeOutBottom',
              delay: 1000
              },
              placement: {
                from: "top",
                align: "center"
              },
            // timer: 300000,
              offset: 20,
              spacing: 2000,
              z_index: 1031,
            });
          }
          console.log(x);
        }
      })
    }

    function checkin(idcard) {
      var card = idcard;
      $.ajax({
        url : 'checkin/'+card,
        type : "get",
        dataType : "json",
        success: function(x) {
          if(x.status=="success"){
            console.log("Checkin : " + x.post.command);
          }
        }
      })
    }

    function checkout(idcard) {
      var card = idcard;
      $.ajax({
        url : 'checkout/'+card,
        type : "get",
        dataType : "json",
        success: function(x) {
          console.log(x)
          if(x.status=="success"){
            console.log("CheckOut : " + x.post.command);
          }
        }
      })
    }

    function loaddatapax(){
    $.ajax({
      url : '/getpax',
      type : 'GET',
      dataType : 'json',
      beforeSend : function(){},
      success : function(data){
        console.log(data)
        if(data.status == "success"){
          var html = "";
          $.each(data.post, function(index, item){
            //html += '<div class="col-xs-2" ><button type="button" class="btn" data-toggle="modal" data-target="#myModal">Cabin '+item.nomor_cabin+'</button></div>&nbsp;&nbsp;&nbsp;&nbsp;'
            //html += '<div class="col-xs-2" ><button type="button" class="btn" data-cabin="'+item.id_cabin+'" onclick="method_popup($(this))" >Cabin '+item.nomor_cabin+'</button></div>&nbsp;&nbsp;&nbsp;&nbsp;'
          })
          $('#id_main_area').html(html);
        }
        
      },
      error: function(){
      
      }
    })
  }

    function loaddatacabin(){
		$.ajax({
			url : '/getcabin',
			type : 'GET',
			dataType : 'json',
			beforeSend : function(){},
			success : function(data){
				console.log(data)
				if(data.status == "success"){
					var html = "";
					$.each(data.post, function(index, item){
						//html += '<div class="col-xs-2" ><button type="button" class="btn" data-toggle="modal" data-target="#myModal">Cabin '+item.nomor_cabin+'</button></div>&nbsp;&nbsp;&nbsp;&nbsp;'
						//html += '<div class="col-xs-2" ><button type="button" class="btn" data-cabin="'+item.id_cabin+'" onclick="method_popup($(this))" >Cabin '+item.nomor_cabin+'</button></div>&nbsp;&nbsp;&nbsp;&nbsp;'
					})
					$('#id_main_area').html(html);
				}
				
			},
			error: function(){
			
			}
		})
	}
	function method_popup(t){
		window.location.href = "/lantai";
	}
 </script>
</body>
</html>
